<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
        <target name="stderror" xsi:type="Console" error="true"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="stderror" />
    </rules>
    
</nlog>